@model List<Cart>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    double amt = 0;
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h5>My Cart</h5>
            <div class="card shadow p-3">
                @if(Model.Count > 0)
                    {
                    <table>
                        <thead class="text-muted">
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                    <tbody>
                    @foreach (var product in Model)
                    {
                        amt = (product.price * product.qty);
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid mx-2" src="~/@product.Image" style="width:50px; height: 50px;" />
                                    <span class="mx-2">@product.Name</span>
                                </div>
                            </td>
                            <td>
                                <span>@product.qty</span>
                            </td>
                            <td>
                                <span class="fw-bold">₱@amt.ToString("0.00")</span>
                            </td>
                            <td>
                                <i class="bi bi-trash3"></i>
                                <a asp-action="Deleteme" asp-route-id="@product.ID" class="text-decoration-none text-black">Delete</a>

                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                }
                else
                {
                    <p class="text-center text-muted mx-auto">Your cart is empty!</p>
                }

                    
            </div>
        </div>
        <div class="col-sm-4">
            <h5>Order Summary</h5>
            <div class="card shadow p-3" style="background: #D9D9D9">
                <div class="d-flex justify-content-between">
                    <span>Subtotal:</span>
                    <span  class="fw-bold">₱@StaticClass.Amount.ToString("0.00")</span>
                </div>
                <hr/>
                <p>
                    Tax included. Shipping calculated at checkout.
                    Discounts will be calculated at checkout.
                </p>
                <a class="btn text-light" asp-controller="Cart" asp-action="PlaceOrder" asp-route-id="@StaticClass.Userid"
                    style="background:#28A745">Checkout</a>
@*                <form asp-controller="Cart" asp-action="checkoutAsync" method="post">
                    <button type="submit" class="text-light btn" style="background:#28A745">Checkout</button>
                </form>*@
                
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <h5>You may also like</h5>
    <div class="d-flex justify-content-between">
        @foreach (var obj in ViewBag.ProdsToShow)
        {
            <div class="card shadow text-center justify-content-center align-items-center m-2 p-2" style="width: 180px; height:270px;">
                <img src="~/@obj.Image" alt="@obj.Name" style="width: 100px; height : 100px" />
                <span style="font-weight: bold; color: #FFB802">@obj.Name</span>
                <span class="text-muted">₱@obj.Price</span>
                <br>
                @if (obj.ProductQuantity <= 0)
                {
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@obj.ProductId"
               class="btn btn-primary p-2 disabled" style="background: #28A745; margin-bottom: 10px; border-radius: 10px">Sold out</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@obj.ProductId"
               class="btn btn-primary p-2" style="background: #28A745; margin-bottom: 10px; border-radius: 10px">Add to Cart</a>

                }
            </div>

        }
    </div>

</div>