@model User

@{
	ViewData["Title"] = "Order Details";
	double amt = 0;
}
<style>
	#shipment1:checked{
		background: #FFB802;
	}

	#shipment2:checked {
		background: #FFB802;
	}

	#payment:checked {
		background: #FFB802;
	}

</style>

<script>
	$(document).ready(function () {
		$('input[type="radio"][name="shipment"]').change(function () {
			var delivery = 0;
			if ($('#shipment1').is(':checked')) {
				delivery = 10;
				$('input[type="radio"][name="payment"]').prop('disabled', false);
			} else {
				delivery = 0;
				$('input[type="radio"][name="payment"]').prop('disabled', true);
			}
			$.ajax({
				url: '/Cart/UpdateDelivery',
				type: 'POST',
				data: { delivery: delivery },
				success: function (result) {
					$('.delivery-value').text('₱' + delivery.toFixed(2));
					location.reload();
				},
				error: function (xhr, status, error) {
					alert('An error occurred while updating the delivery value.');
				}
			});
		});

		if (@StaticClass.Delivery == 10) {
			$('#shipment1').prop('checked', true);
			$('input[type="radio"][id="cod"]').prop('disabled', false);
			$('input[type="radio"][id="cod"]').prop('checked', true);
			$("#pat-option").prop("hidden", true);
			$("#ship-add").prop("hidden", false);


		} else {
			$('#shipment2').prop('checked', true);
			$('input[type="radio"][id="cod"]').prop('disabled', true);
			$('input[type="radio"][id="pat"]').prop('checked', true);
			$("#pat-option").prop("hidden", false);
			$("#ship-add").prop("hidden", true);

		}
	});



</script>
<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<form asp-action="Buy" asp-route-id="@StaticClass.Userid" method="post">

			<div class="card p-3" id="ship-add">
				<h4 class="card-title mb-4 fw-bold" style="color: #454545">Shipping Details</h4>
				<p style="color: #454545">Shipping Address</p>
				<div class="w-75 mx-auto m-3 p-3" style="border: 1.5px solid #137B2B; border-radius: 5px">
					<p>@Model.FirstName @Model.LastName</p>
					<div class="text-muted">Brgy. @ViewBag.ShippingAdd.Barangay, @ViewBag.ShippingAdd.City, @ViewBag.ShippingAdd.Province
						@ViewBag.ShippingAdd.Country, @ViewBag.ShippingAdd.Zipcode
					</div>
					<div class="text-muted">@Model.PhoneNmber</div>
				</div>
				<a asp-controller="User" asp-action="Address" asp-route-id="@Model.UserId" class="text-decoration-none" style="color:#FFB802">+ Add New Address</a>
			</div>
			<div class="card p-3 my-3">
				<p class="card-title" style="color: #454545">Shipping Option</p>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="shipment" id="shipment1">
					<label class="form-check-label" for="shipment" >
						Shipping Method - ₱10 Delivery
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="shipment" id="shipment2">
					<label class="form-check-label" for="shipment">
						Pickup - Free
					</label>
				</div>
			</div>
			<div class="card p-3 my-3">
				<p class="card-title" style="color: #454545">Delivery Instructions</p>
				<textarea class="form-control" id="instructions" name="instructions" placeholder="Enter custom instructions here."></textarea>
			</div>
			<div class="card p-3">
				<h4 class="fw-bold" style="color: #454545">Payment Option</h4>
				<p class="text-muted">Please choose your payment method</p>
				<div class="form-check m-2">
						<input class="form-check-input" type="radio" name="payment" id="gcash" value="gcash">
					<label class="form-check-label" for="gcash">
						<img class="img-fluid" src="~/gcash.png" />
					</label>
				</div>
				<div class="form-check m-2">
						<input class="form-check-input" type="radio" name="payment" id="cod" value="cod" checked>
					<label class="form-check-label" for="flexRadioDefault2">
						<img class="img-fluid" src="~/cod.png" />
						<span>Cash on Delivery</span>
					</label>
				</div>
					<div class="form-check m-2" id="pat-option" hidden>
						<input class="form-check-input" type="radio" name="payment" id="pat" value="pat" checked>
						<label class="form-check-label" for="flexRadioDefault2">
							<i class="bi bi-shop" style="color: #28A745"></i>
							<span>Pay at Counter</span>
						</label>
					</div>
				<p>@StaticClass.Instructions</p>
			</div>
			<button type="submit" class="btn text-light my-3" style="background: #28A745">PLACE ORDER</button>
			</form>

		</div>

		<div class="col-sm-4">
			<div class="card p-3">
				<p>Order Summary</p>
				<span class="text-muted">@StaticClass.CartCount Items(s) in Cart</span>
				<hr />

				@foreach (var item in StaticClass.myCart)
				{
					amt = (item.price * item.qtyFull) + ((item.price/2) * item.qtyHalf);
					<div class="d-flex justify-content-between align-items-center">
						<div>
							<img class="img-fluid" src="~/@item.Image" style="width: 50px; height: 50px" />
							<span style="color: #FD7D35; margin-left:10px">@item.Name</span>
						</div>
						<div class="fw-bold">
							₱@amt.ToString("0.00")
						</div>
					</div>
					
				}
				<hr />
				<div class="d-flex justify-content-between fw-bold">
					<span>Subtotal</span>
					<span>₱@StaticClass.Amount.ToString("0.00")</span>
				</div>
				<div class="d-flex justify-content-between text-muted">
					<span>Shipping fee</span>
					<span class="delivery-fee">₱@StaticClass.Delivery.ToString("0.00")</span>
				</div>
				<hr />
				<div class="d-flex justify-content-between fw-bold">
					<span>Order Total:</span>
					<span>₱@StaticClass.NetAmount.ToString("0.00")</span>
				</div>
			</div>
		</div>
	</div>
</div>


