@model IEnumerable<User>

@{
	ViewData["Title"] = "Accounts";
}


<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<ul class="list-group">
				<li class="list-unstyled list-group-item" style="background: #28A745">
					<h class="cardcard-title text-light">Dashboard</h>
				</li>
				<li class="list-unstyled list-group-item item" style="background: #FFB802; border-left: 5px solid #28A745">
					<a asp-controller="Adminpanel" asp-action="Accounts" class="text-decoration-none text-light">Accounts</a>
				</li>
				<li class="list-unstyled list-group-item item">
					<a asp-controller="Adminpanel" asp-action="Products" class="text-decoration-none text-black">Products</a>
				</li>
				<li class="list-unstyled list-group-item item">
					<a asp-controller="Adminpanel" asp-action="Categories" class="text-decoration-none text-black">Categories</a>
				</li>
				<li class="list-unstyled list-group-item item">
					<a asp-controller="Adminpanel" asp-action="Orders" class="text-decoration-none text-black">Orders</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-10">
			<div class="card p-3">
				<a asp-controller="Adminpanel" asp-action="AddAccount" class="btn text-light align-self-end" style="background: #28A745; width: fit-content">
					<i class="bi bi-plus-circle"></i> Add
				</a>
				<table class="table">
					<thead>
						<tr>
							<th style="color: #28A745">Id</th>
							<th style="color: #28A745">First name</th>
							<th style="color: #28A745">Last name</th>
							<th style="color: #28A745">Birthday</th>
							<th style="color: #28A745">Email</th>
							<th style="color: #28A745">Phone number</th>
							<th style="color: #28A745">Role</th>
							<th style="color: #28A745">Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach(User user in Model){
							<tr class="text-muted">
								<td><a asp-controller="Adminpanel" asp-action="EditUser" asp-route-id="@user.UserId" 
										class="text-muted">@user.UserId</a></td>
								<td>@user.FirstName</td>
								<td>@user.LastName</td>
								<td>@user.Birthday.ToString("MM/dd/yyyy")</td>
								<td>@user.Email</td>
								<td>@user.PhoneNmber</td>
								<td>@user.Role</td>
								<td>
									<div class="d-flex flex-column">
										@*<a asp-controller="Adminpanel" asp-action="EditUser" asp-route-id="@user.UserId"
											class="text-decoration-none" style="color: #28A745">
											<i class="bi bi-pencil-square"></i>Edit
										</a>*@
										<a asp-controller="Adminpanel" asp-action="DeleteAccount" asp-route-id="@user.UserId"
										class="text-decoration-none" style="color:#D11A2A"><i class="bi bi-file-earmark-x"></i>Delete</a>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

